.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container-regis {
  padding: 8%;
}

.container-login {
  padding: 8%;
}

.card-img-top {
  padding-top: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 240px;
  height: 220px;
}

.wrapper {
  border-radius: 10%;
  padding: 2%;
}

.container-product {
  display: grid;
  margin: 4% 8% 4% 10%; 
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 50px;
  border-radius: 5%;
}

.card{
  width: 18rem;
} 

.container-updateProduct {
  padding: 4%;
  margin: 4% 16% 13% 17%; 
}